body {
  margin: 0; /* Remove body margins */
  max-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #24242a;
  font-family: "Inter";
  overflow: hidden;
  color: white;
}

.chatbox::-webkit-scrollbar {
  display: none;
}
.chatroom-app {
  display: flex;
  padding-right: 600px;
  width: 100%;
}

.sidebar {
  width: 600px;
}
.hello {
  color: white;
  font-style: italic;
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 12px;
  /* margin-right: 5rem; */
}

.user-stats {
  color: white;
  font-style: italic;
  margin-top: 40px;
}
.chat-wrapper {
  flex-direction: column;
  background-color: #1a1a1f;

  max-height: 100vh;
}
.chat-wrapper {
  display: flex;
  background-color: #1a1a1f;
  height: 100%;
  overflow-y: scroll;
}
.chat-wrapper::-webkit-scrollbar {
  display: none;
}

.chatbox {
  overflow-y: scroll;
}

.MessageObject {
  position: relative;
  margin: 20px 10px;
  display: flex;
}

.MessageWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 14px;
}

.date-wrap {
  display: flex;
  justify-content: space-between;
  margin: 10px 5px 0px 5px;
}

.colour-circle {
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  min-width: 60px;
}
.username {
  font-size: 1.3rem;
  list-style: none;
  color: #b8b8e8;
  display: flex;
}

.date {
  display: flex;
  font-size: 1.2rem;
  color: #404052;
  font-style: italic;
  margin-right: 12px;
  margin-top: 25px;
  margin: 20px 10px;
}
.message {
  list-style: none;
  color: #fefdff;
  margin-top: 10px;
  font-size: 1.3rem;
  max-width: 350px;
  word-wrap: break-word;
}

form {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 30px 15px;
}
/* // Chat forum //  */

button {
  padding: 8px 24px;
  border: none;
  color: white;
  font-size: 16px;
  font-style: bold;
  background: #4246c4;
  border-radius: 10px;
}
/* button:hover {
  background: rgb(87, 55, 149);
  transition: 0.3s;
  box-shadow: 0 0 0 3px #1c0135;
} */

input {
  border: none;
  appearance: none;
  background: #f2f2f2;
  padding: 12px;
  border-radius: 0.5rem;
  width: 400px;
  color: white;
  font-size: 20px;
  padding-left: 60px;
  height: 2.5rem;
  background-color: #24242a;
  font-style: italic;
}

::placeholder {
  color: #404052;
  font-size: 24px;
}

input:focus {
  border: rgb(87, 55, 149);
  transition: 0.3s;
  box-shadow: 0 0 0 3px #1c0135;
}

#add-button {
  display: none;
}

.image-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 7px;
}

.Image-input-wrapper {
  display: flex;
  position: absolute;
  flex-direction: column;
  bottom: 100%;
  right: 67%;
  align-items: center;
  height: 100px;
  width: 150px;
  justify-content: space-evenly;
  background-color: #24242a;
  border-radius: 10px;
}

.upload-btn {
  display: none;
}

.Image-input-label {
  color: #48485f;
  background-color: #24242a;
  cursor: pointer;
  font-size: 15px;
  display: flex;
  align-items: inherit;
  justify-content: space-between;
  width: 85%;
  padding: 8px 6px;
  border-radius: 5px;
}
.Image-input-label:hover {
  background-color: #4246c4;
  color: white;
}
span {
  display: block;
  position: relative;
  /* margin-top: 20px; */
  max-height: 230px;
  max-width: 349px;
  height: 230px;
}
.image-preview {
  width: auto;
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 3%;
  max-height: 230px;
}

.overlay {
  filter: brightness(60%);
}

.upload-preview {
  display: flex;
  position: relative;
  height: 30px;
  width: auto;
  border-radius: 10px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.preview-image {
  /* position: absolute; */
  height: 75px;

  margin-left: 20px;
}
